<footer>
  <% if(locals.script){ %>
  <script type="text/javascript" src="../src/js/<%= script %>.js"></script>
  <% } %>
  <center>
    <br>
    <br>
    <br>

  <a id="e4" href="/src/e4tableau.xlsx">e4</a>
</center>
</footer>
