<footer>
  <% if(locals.script){ %>
    <script type="text/javascript" src="../src/js/<%= script %>.js"></script>
    <% } %>
      <center>
        <br>
        <br>
        <br>

        <div id="e4">
          <a href="/src/e4tableau.xlsx">e4</a>
          
          <h1>Crée par PASTRE Toni 2023</h1>
        </div>
      </center>
</footer>