<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Source</h5>
                <p class="grey-text text-lighten-4">Vous trouverez sur la droite toute les source utulisée pour faire ce site Web.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Lien</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Materialize</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://nodejs.org/en/">Node.js</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://fonts.googleapis.com/icon?family=Material+Icons">îcone</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">Jquery</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © <span id="copy">2020</span> Toni PASTRE
        </div>
    </div>
</footer>