<nav>
    <nav style="background-color: grey;">
        <!-- Navbar content -->
        <div class="nav-wrapper">
            <a href="/" class="active brand-logo"><i class="material-icons">cloud</i>Portfolio</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="./presentpersonnel">Présentation
                    Personnelle</a></li>
                <li><a href="./presentbtssio">Présentation
                    Du BTS SIO</a></li>
                <li><a href="./stage">Stage</a></li>
                <li><a href="./travauxpersonnel">Travaux
                    Personnels</a></li>
                <li><a href="./contact">Contact</a></li>
                <li><a href="./veilletechnologique">Veille
                    Technologique</a></li>
            </ul>
        </div>
    </nav>