<%- include('./partials/head', {title:'Bienvenue'}) %>

  <div id="container" class="container center">
    <h1>
      Bonjour et bienvenue sur le Portfolio de PASTRE Toni<br>
      Vous trouverez un accès dans la barre de navigation
    </h1>
  </div>

  <div class="boxiall">

    <div class="box">
      <h1>Qui suis je ?</h1>
      <img src="../src/img/manga.jpg">
    </div>

    <div class="box">
      <h1>Mon parcours</h1>
      <img src="../src/img/ninjabanner.jpg">
    </div>

    <div class="box">
      <h1>Mes project</h1>
      <img src="../src/img/project.jpg">
    </div>
  </div>
  <!-- <div id="container" class="container">
<h1>Projet pour créer des pokémons et combattre d'autres pokémons uniquement entre 2 joueurs(en dev)</h1>
<img src="../src/img/poke.jpg">

    <div> -->

  </body>

  </html>