<%- include('./partials/head', {title:'Bienvenue'}) %>

  <div id="container" class="container center">
    <h1>
      Bonjour et bienvenue sur le Portfolio de PASTRE Toni<br>
      Vous trouverez un accès dans la barre de navigation
    </h1>
  </div>

  <div class="flexcenter">
    <div class="boxiall">

      <div class="box">
        <h1>Qui suis je ?</h1>
        <img src="../src/img/manga.jpg" alt="Image pour présenter la catégorie 'Qui suis je ?'">
      </div>

      <div class="box">
        <h1>Mon parcours</h1>
        <img src="../src/img/ninjabanner.jpg" alt="Image pour présenter la catégorie 'Mon parcours'">
      </div>

      <div class="box">
        <h1>Mes project</h1>
        <img src="../src/img/project.jpg" alt="Image pour présenter la catégorie 'Mes project'">
      </div>
    </div>
  </div>
  </body>

  </html>