<%- include('./partials/head', {title:'Mes projects'}) %>

    <div id="container" class="container center">
        <h1>
            Sur cette page vous trouverez une présentation de chaque project avec leur page github et une image de
            présentation.
        </h1>
    </div>

    <div class="flexcenter">
        <h1>1ière année :</h1>
        <div class="boxiall">
            

            <div class="box">
                <h1>Qui suis je ?</h1>
                <img src="../src/img/manga.jpg" alt="Image pour présenter la catégorie 'Qui suis je ?'">
            </div>

            <div class="box">
                <h1>Mon parcours</h1>
                <img src="../src/img/ninjabanner.jpg" alt="Image pour présenter la catégorie 'Mon parcours'">
            </div>

            <div class="box">
                <h1>Mes project</h1>
                <img src="../src/img/project.jpg" alt="Image pour présenter la catégorie 'Mes project'">
            </div>
        </div>
    </div>

    </body>

    </html>