<%- include('./partials/head', {title:'Mes projects'}) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!-- script:'project' -->

    <style>
        /* Slide card */

        .slide-container {
            max-width: 1820px;
            width: 100%;
            padding: 40px 0;
        }

        .slide-content {
            margin: 0 40px;
            overflow: hidden;
            border-radius: 25px;
        }

        .card {
            border-radius: 25px;
            /* background-color: #FFF; */
            box-shadow: -1rem 0 3rem rgb(25, 25, 25);
            transition: 0.4s ease-out;
            height: 500px;
            max-width: 320px;
            background-color: #17141d;
        }

        .image-content,
        .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 14px;
        }

        .image-content {
            position: relative;
            row-gap: 5px;
            padding: 25px 0;
        }

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #4070F4;
            border-radius: 25px 25px 0 25px;
        }



        .card-image {
            position: relative;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background: #17141d;
            padding: 3px;
        }

        .card-image .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid #4070F4;
        }

        .name {
            font-size: 18px;
            font-weight: 500;
            color: rgb(219, 219, 219);
        }

        .description {
            font-size: 14px;
            color: rgb(219, 219, 219);
            text-align: center;
        }

        .twobtn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: 170px;
        }

        .twobtn>a {
            border: none;
            font-size: 16px;
            color: #FFF;
            padding: 8px 16px;
            background-color: #4070F4;
            border-radius: 6px;
            margin: 14px;
            cursor: pointer;
            transition: all 0.3s ease;

        }

        .button:hover {
            background: #265DF2;
        }

        .swiper-navBtn {
            color: #6E93f7;
            transition: color 0.3s ease;
        }

        .swiper-navBtn:hover {
            color: #4070F4;
        }

        .swiper-navBtn::before,
        .swiper-navBtn::after {
            font-size: 35px;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-pagination-bullet {
            background-color: #6E93f7;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #4070F4;
        }

        @media screen and (max-width: 768px) {
            .slide-content {
                margin: 0 10px;
            }

            .swiper-navBtn {
                display: none;
            }
        }

        /* .card:not(:first-child) {
            margin-left: -10px;
        } */

        /* .card:hover {
            transform: translateY(-20px);
            transition: 0.4s ease-out;
        }

        .card:hover~.card {
            position: relative;
            left: 50px;
            transition: 0.4s ease-out;
        } */

        .card-content>h5 {
            position: relative;
            bottom: 15px;
            margin-left: 255px;
            color: white;
            font-size: 10px;
        }

        .card-content ul {
            position: absolute;
            margin-top: 5px;
            left: 10%;
            top: 55%;
            font-size: 14px;
            color: rgb(219, 219, 219);
            text-align: left;
        }

        .card-content ul>li {
            margin-bottom: 5px;
        }
    </style>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/compagnioncube.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Compagnion cube</h2>
                        <h5>18/02/2018</h5>
                        <p class="description">Un bot discord qui est en dev depuis 2018,il profite de quelque
                            fonctionnalité du type :
                        </p>
                        <ul>
                            <li>Des commande variée : ban,kick,calculer.</li>
                            <li>Possibilitée de lui faire jouer de la musique dans un channel depuis youtube</li>
                            <li>Système de "niveau"</li>
                            <li>Possibilitée de l'inviter sur son serveur discord.</li>

                            <li>Toute les commande sont écrite sur le github disponible sur le button en dessoue</li>
                        </ul>

                        <div class="twobtn">
                            <a href="https://github.com/Bouftout/compagnioncube">Github</a>
                            <a href="https://discord.com/invite/TYDa2eS">WebSite</a>
                        </div>

                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/portalaudio.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">PortalAudio</h2>
                        <h5>26/11/2021</h5>
                        <p class="description">
                            Application electron d'une page web faite sur le project "ServerNodeJsWeb" :
                        </p>
                        <ul>
                            <li>Une barre synchroniser avec la musique.</li>
                            <li>26 Musique différente</li>
                            <li>Temps Total/actuel de la musique</li>
                            <li>Button de pause/play</li>
                            <li>
                                Toute les information afficher en bas dont :
                                <br>-Le nom du song
                                <br>-Si il est en pause ou pas
                                <br>-Si la musique est fini
                            </li>
                        </ul>

                        <div class="twobtn">
                            <a href="https://github.com/Bouftout/PortalAudio">Github</a>
                            <a href="https://github.com/Bouftout/PortalAudio/releases">Download</a>
                        </div>

                    </div>
                </div>


                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/elisplay.png" alt="Elisplay card image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Elisplay</h2>
                        <h5>13/01/2022</h5>
                        <p class="description">Project en 1ère année de bts sio fait en groupe,c'est un site qui dispose
                            de :</p>
                        <ul>
                            <li>
                                Plusieurs jeu :
                                <br>-Snake
                                <br>-cassebrick
                                <br>-Tetris
                            </li>
                            <li>1 chat</li>
                            <li>1 tableau des scores</li>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/Bouftout/elispray">Github</a>
                            <a href="https://elisplay.alwaysdata.net/">>WebSite</a>
                        </div>

                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/ytbdownloadelectron.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">YtbDownload-Electron</h2>
                        <h5>07/09/2022</h5>
                        <p class="description">
                            Application electron pour download une vidéo youtube en 360p uniquement
                        </p>
                        <ul>
                            <li>Download d'une vidéo en 360p</li>
                            <li>Barre de download de la vidéo</li>

                            <li>Information sur la vidéo qui comprend :<br>-Titre<br>-Nom de la chaîne<br>-Date d'upload
                            </li>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/Bouftout/YtbDownload-Electron">Github</a>
                            <a href="https://github.com/Bouftout/YtbDownload-Electron/releases">Download</a>
                        </div>

                    </div>
                </div>


                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/casisio.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Casisio</h2>
                        <h5>22/09/2022</h5>
                        <p class="description">Project de classe fait à 4. Le site est conçu pour les clients qui
                            veulent jouer au
                            "casino".</p>
                        <ul>
                            <li>2 jeux</li>
                            <li>Personnalisation de son compte qui comprend : changement de mot de passe,suppresion du
                                compte,changement de l'image de profil</li>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/Bouftout/casisio">Github</a>
                            <a href="https://casinosio.alwaysdata.net/">>WebSite</a>
                        </div>
                    </div>
                </div>



                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/tchat.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Chataleau</h2>
                        <h5>13/01/2022</h5>
                        <p class="description">Chat fait en php et ajax avec une gestion des message en bdd,des logs
                            sont aussi disponible</p>
                        <ul>
                            <li>Choix de thème a la création du compte</li>
                            <li>Date,heure et pseudo sont sur le message</li>
                            <li>Bdd qui permet que les message soit disponible tout le temps</li>
                            <li>Possibilitée de delete son message</li>
                            <li>Logs pour les admin</li>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/Bouftout/chataleau">Github(Private)</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/pokemarker.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Pokemarker</h2>
                        <h5>13/01/2022</h5>
                        <p class="description">Project avec comme but de pouvoir crée ces propre pokémon/combattre
                            d'autre joueurs.</p>
                        <ul>
                            <li>Création d'un pokémon</li>
                            <li>Création d'un compte</li>
                            <li>Affichage de tout les pokémon dans un table ou on peut aussi rechercher par ligne</li>
                            <li>Les pokémon crée on peut voir leur stats ainsi que les delete</li>
                            <li>Commencement du système de combat</li>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/Bouftout/pokemarker">Github</a>
                            <a href="https://pokemarker.alwaysdata.net/">>WebSite</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./src/img/tchat.png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">MyDesktopGooseMods</h2>
                        <h5>9/12/2023</h5>
                        <p class="description">Création de mods pour le logiciel DesktopGoose</p>
                        <ul>
                            <li>Utulisation du github <a href="">QuackLua</a> qui permet l'utulisation de lua pour
                                crée des mods</li>
                            <li></li>
                            <li>Possibilitée de delete son message</li>
                            <a href="/quack">
                                <li>Quack</li>
                            </a>
                        </ul>

                        <div class="twobtn">
                            <a class="button" href="https://github.com/ToniPortal/MyDesktopGooseMods">Github</a>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <%- include('./partials/footer', {script:'project'}) %>

        </body>

        </html>