<%- include('./partials/head', {title:'Mes projects',script:'project',css:'project'}) %>

    <div id="container" class="container center">
        <h1>
            Sur cette page vous trouverez une présentation de chaque project avec leur page github et une image de
            présentation.
        </h1>
    </div>

    <div id="card" class="containercard">

        <div class="card">
            <h3 class="title">Compagnion Cube</h3>
            <h5>18/02/2018</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>
       
        <div class="card">
            <h3 class="title">PortalAudio</h3>
            <h5>26/11/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">ServerNodeJsWeb</h3>
            <h5>12/06/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">Discord-Exp-Mysql</h3>
            <h5>05/12/2022</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">PortalAudio</h3>
            <h5>26/11/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">YtbDownload-Electron</h3>
            <h5>07/09/2022</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">Elisplay</h3>
            <h5>13/01/2022</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">Chataleau</h3>
            <h5>26/11/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">Casisio</h3>
            <h5>26/11/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="title">Pokemarker</h3>
            <h5>26/11/2021</h5>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg>
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>

    </div>

    </body>

    </html>