<%- include('./partials/head', {title:'Mon parcours',script:'parcours'}) %>

    <div id="container" class="container center">
        <h1>
            Mon parcours :
        </h1>
    </div>

    <div class="boxiall">

        <div class="box">
            <h1>Origines</h1>
            <ul>
                <li>Né à Paris</li>
                <li>Enfance passée dans le sud-est près d'Avignon.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Famille</h1>
            <ul>
                <li>Issu d'une fratrie Nombreuse et animée. ç-ç</li>
                <li>Jeux et disputes rythment mon quotidien.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Habitude</h1>
            <ul>
                <li>Séjours multiples entre Paris et Avignon.</li>
                <li>Découverte récente de Blois.</li>
                <li>Visite des région de France mais pas de sa gastronomie. (╯°□°)╯︵ ┻━┻ </li>
            </ul>
        </div>

    </div>

    </body>

    </html>