<%- include('./partials/head', {title:'Mon parcours',script:'parcours'}) %>

<div id="container" class="container center">
    <h1>
        Sur cette page vous trouverez une présentation de chaque project avec leur page github et une image de présentation.
    </h1>
</div>

<div id="cube" class="flexcenter">

</div>


  </body>

  </html>