<%- include('./partials/head', {title:'Mon parcours'}) %>




    <div id="container" class="container center">
        <h1>
            Mon parcours :
        </h1>
    </div>

    <div class="cubeflex">
        <section class="timeline">
            <ol>
                <li>
                    <div>
                        <time>2018-2021</time>J'ai étudié au lycée Robert Schuman à Avignon pendant deux ans, où j'ai
                        suivi un baccalauréat professionnel en Systèmes Numériques, option Réseaux Informatiques et
                        Systèmes Communicants (RISC). J'ai obtenu mon diplôme suite à la fin de cette formation.
                    </div>
                </li>
                <li>
                    <div>
                        <time>2021-2023</time>Actuellement, je suis en train de suivre une formation au lycée polyvalent
                        Charles Péguy à Marseille pour obtenir un BTS Services Informatiques aux Organisations (SIO),
                        option Solutions Logicielles et Applications Métiers (SLAM).
                    </div>
                </li>
                <li>
                    <div>
                        <time>2023-??</time>Parcours sur des premier emploi ou dans des écolé supérieures
                    </div>
                </li>
            </ol>
        </section>




    </div>


    </article>
    </div>

    </div>


    <div class="container">
        <article>
            <br><br>

            <div class="tabou cubeflex">
                <button class="taboulinks" onclick="openCity(event, 'BTS SIO')">BTS SIO</button>
                <button class="taboulinks" onclick="openCity(event, 'SLAM')">SLAM</button>
                <button class="taboulinks" onclick="openCity(event, 'SISR')">SISR</button>
            </div>
            <br>
            <div id="BTS SIO" class="taboucontent">
                <h2><a
                        href="https://fr.wikipedia.org/wiki/Brevet_de_technicien_sup%C3%A9rieur_-_Services_informatiques_aux_organisations">Présentation
                        du BTS SIO</a></h2>
                <p>Le BTS Services informatique aux Organisations est un diplôme reconnu par l’état de niveau Bac+2.
                    Il
                    remplace depuis septembre 2011 l’ancien BTS informatique de Gestion (BTS IG). En effet, cette
                    nouvelle formule répond aux attentes de
                    la profession en matière de qualification. Le programme a évolué en fonction de la place et du
                    rôle
                    des TIC (Technologies d’Information Communication) et propose deux spécialités bien distinctes :
                    le
                    BTS SIO SISR et le BTS SIO SLAM.
                    Il associe aux enseignements théoriques et professionnels (en contrôle continu et final) deux
                    stages
                    en entreprise (10 à 11 semaines réparties sur les deux années d’études). En plus des matières en
                    lien avec l’ingénierie informatique,
                    la formation propose également des enseignements de culture générale, d’anglais (avec la
                    possibilité
                    de continuer une LV2), de mathématiques appliquées à l’informatique, ainsi que sur les outils
                    d’analyse économique, managériale et
                    juridique des services informatiques. De plus, au cours de cette formation, il est possible de
                    bénéficier d’un enseignement approfondi en mathématiques et de travailler en autonomie en
                    laboratoire informatique.</p>
            </div>
            <div id="SISR" class="taboucontent" style="display:none">
                <h2><a
                        href="https://www.onisep.fr/Ressources/Univers-Formation/Formations/Post-bac/bts-services-informatiques-aux-organisations-option-a-solutions-d-infrastructure-systemes-et-reseaux">Option
                        SISR</a></h2>
                <p>L’option Solutions d’infrastructure, systèmes et réseaux forme des professionnels des réseaux et
                    équipements informatiques (installation, maintenance, sécurité). En sortant d’un BTS SIO SISR,
                    vous
                    serez capables de gérer et d’administrer
                    le réseau d’une société et d’assurer sa sécurité et sa maintenance. Les techniciens supérieurs
                    en
                    informatique option SISR, peuvent accéder aux métiers de : Administrateur systèmes et réseaux,
                    Informaticien support et déploiement,
                    Pilote d’exploitation, Support systèmes et réseaux, Technicien d’infrastructure, Technicien de
                    production, Technicien micro et réseaux.</p>
            </div>

            <div id="SLAM" class="taboucontent" style="display:none">
                <h2><a
                        href="https://www.onisep.fr/Ressources/Univers-Formation/Formations/Post-bac/bts-services-informatiques-aux-organisations-option-b-solutions-logicielles-et-applications-metiers">Option
                        Slam</a></h2>
                <p>L’option Solutions logicielles et applications métiers forme des spécialistes des logiciels
                    (rédaction d’un cahier des charges, formulation des besoins et spécifications, développement,
                    intégration au sein de la société). Les techniciens
                    supérieurs en informatique option slam, sont préparés aux métiers de Développeur d’applications
                    informatiques Développeur informatique Analyste d’applications ou d’études Analyste programmeur
                    Chargé d’études informatiques Informaticien
                    d’études Programmeur analyste Programmeur d’applications Responsable des services applicatifs
                    Technicien d’études informatiques</p>
            </div>
    </div>

    <br>
    <br>

    <div class="cubeflex">
        <div class="container">

            <div>
                <h1>Institut Sainte Catherine</h1>
                <h3>Février 2019 - Mars 2019</h3>
                <h3 style="text-align: right;margin: 20px;">Hopitaux</h3>
                <p>J'ai effectué un stage à l'Institut Sainte Catherine où j'ai découvert le langage Java pour la
                    première fois. Cela m'a permis de me familiariser avec le développement et de continuer à travailler
                    sur mes projets personnels. Malheureusement, l'employeur était occupé et ne
                    pouvait pas me montrer certains éléments pour des raisons de confidentialité liées à l'application
                    qu'il développait pour l'hôpital.</p>
                <br>
                <a href="https://goo.gl/maps/TgQvXssfjbW9cu2J8">Lien maps</a>
            </div>

            <br>

            <div>
                <h1>CyberTel</h1>
                <h3>3 Janvier au 17 février 2022</h3>
                <h3 style="text-align: right;margin: 20px;">Entreprise de Magasin de téléphonie mobile</h3>
                <p>
                    J'ai réalisé, lors de mon stage chez CyberTel, que les gens ont de plus en plus besoin de petites
                    entreprises offrant des services de réparation rapide et facile pour les téléphones et les
                    ordinateurs. Bien que j'aie apprécié cette expérience, j'ai réalisé que ce type de travail est très
                    dépendant de la demande, car il se concentre sur les problèmes rencontrés par les
                    clients. Donc par certain moment il n'y ait des moments où il n'y a pas de clients.
                    Cependant, pendant ces périodes creuses, j'ai pu effectuer d'autres tâches.
                </p>
                <br>
                <a href="https://goo.gl/maps/nLN4fiKA7uYEzd1eA">Lien Maps</a>
            </div>


            <div>
                <h1>Explore Loire Valley</h1>
                <h3>Janvier 2023 - Février 2023</h3>
                <h3 style="text-align: right;margin: 20px;">Médiatrice culturel</h3>
                <p>
                    J'ai appris l'outil dénommé wix pour me permettre de créer avec l'aide de ma patronne le site
                    "exploreloirevalley", ce qui m'a permis d'apprendre à me plier au demande d'un supérieur, et même si
                    c'est n'est pas du développement pur.
                    <br>
                    ça m'a aidée sur ma timidité.
                    <br>
                    Avec le temps libre qui était disponible
                    parfois on m'a aussi autorisée à avancer sur mes projects/portfolio ici présent.
                </p>
                <br>
                <a href="https://www.exploreloirevalley.com/">Lien Site Web</a>
            </div>




        </div>

    </div>

    <%- include('./partials/footer', {script:'parcours'}) %>

        </body>

        </html>