<!DOCTYPE html>
<html lang="fr">

<head>
    <script type="text/javascript" src="script.js"></script>
    <%- include('./head'); %>
</head>

<body>

    <header>
        <%- include('./header'); %>
    </header>

    <section>
        <article>
            <br><br>
            <div class="card">
                <div class="section no-pad-bot" id="index-banner">
                    <div class="container">
                        <br><br>
                        <h1 class="header center red-text">Rebonjour,je me présente ;</h1>
                        <div class="row center">
                            <h4 class="header col s12 light">
                                Je m'appelle Toni PASTRE, j'ai
                                <span id="ageid">
                                            17
                                        </span> ans et je suis actuellement en BTS SIO au lycée privée Charles Peguy à Marseille.
                                <br>Je suis depuis un moment attiré par l'informatique et j'adore ça, grâce a mon père qui ma montrée ce monde là.C'est pour ça que je suis actuellement dans ce BTS SIO.
                            </h4>




                            <div class="row center">
                                <a href="/cv" class="btn-large
                                                    waves-effect waves-light black">Download CV</a>
                                <a href="/cv.pdf" class="btn-large
                                                    waves-effect waves-light black">Afficher le pdf</a>
                            </div>
                            <br>
                            <h3>Compétence personnel</h3>
                            <h4>JavaScript</h4>
                            <div class="container">
                                <div class="skills js">80%</div>
                            </div>
                            <h4>CSS</h4>
                            <div class="container">
                                <div class="skills css">40%</div>
                            </div>
                            <h4>HTML</h4>
                            <div class="container">
                                <div class="skills html">90%</div>
                            </div>

                            <h4>Node.js</h4>
                            <div class="container">
                                <div class="skills nodejs">30%</div>
                            </div>
                        </div>

                        <br><br>
                    </div>
                </div>
            </div>

        </article>


        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <%- include('./footer'); %>


</body>

</html>