<%- include('./partials/head', {title:'Qui suis je ?'}) %>


    <div id="pp" class="flexcenter pp">


        <div class="box">
            <h1>Qui suis je ?</h1>
            <svg viewBox="40 50 250 200" xmlns='http://www.w3.org/2000/svg'>

                <filter id='noise' x='2%' y='0%' width='100%' height='100%'>
                    <feTurbulence baseFrequency="0.02 0.6" result="NOISE" numOctaves="2" />
                    <feDisplacementMap in="SourceGraphic" in2="NOISE" scale="20" xChannelSelector="R"
                        yChannelSelector="R"></feDisplacementMap>
                </filter>
                <!-- 		<rect width='100%' height='100%' filter='url(#challengeNoise)' /> -->
                <image class="image" xlink:href="../src/img/pp.jpg" x="60" y="50" filter="url(#noise)">
                </image>
            
            </svg>
            <!-- <img alt="Image de profil" src="../src/img/pp.jpg"> -->
        </div>

        <div class="flexenbas">
            <div class="container">
                <h1>Ma présentation :</h1>
            </div>


            <div class="container center">
                <p>
                    Je suis PASTRE Toni, avec un père étant developpeur qui m'a permit de plus m'amener la dedans
                    J'aime les livre dont vous êtes les héros<br>
                    et aime l'univers des bande dessinée et des manga/animée.
                </p>
            </div>
        </div>

    </div>

    <div class="boxiall">

        <div class="box">
            <h1>Origines</h1>
            <ul>
                <li>Né à Paris</li>
                <li>Enfance passée dans le sud-est près d'Avignon.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Famille</h1>
            <ul>
                <li>Issu d'une fratrie Nombreuse et animée.</li>
                <li>Jeux et disputes rythment mon quotidien.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Habitude</h1>
            <ul>
                <li>Séjours multiples entre Paris et Avignon.</li>
                <li>Découverte récente de Blois.</li>
                <li>Developpement intensif </li>
            </ul>
        </div>

    </div>


    <div style="display: none;">
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="">Learn more</a> </div>
    </div>

    <div class="container">
        <h1>
            To-do Centre d'interet :
        </h1>
        <!-- 3 sorte physique
        Intellectuel
        virtuel(ytb) -->


        <ol class="list">
            <li>
                <h2>Le developpement</h2>
                <span>Je suis tombé dedans a cause d'un cours de technologie en techno lorsque on a du faire un labyrinthe avec scratch,ce que j'ai adorée faire !
                    <br>
                    Vous trouverez mon lien github sur la droite.
                </span>
                <a href="https://github.com/Bouftout">Github</a>
            </li>
            <li>
                <h2>Les mangas/Animées</h2>
                <span>J'aprécie beaucoup la culture manga animée.<br>
                    Vous pourrez voir grâce au button sur la droite ma liste d'animée regarder grâce
                    au site adkami.</span>
                <a href="https://adkami.com/list/tonidu13">Adkami List</a>
            </li>
            <li>
                <h2>Les jeux vidéo</h2>
                <span>J'aime aussi les jeux vidéo, les jeux de stratégie de type starcraft,civilisation.<br>Mon jeux préférer reste nier automata !</span>
                <!-- <a href="#pp">PopUp en dev</a> -->
            </li>
            <li>
                <h2>La musique</h2>
                <span>J'ecoute différent type de musique concentrée dans les musique qui viennent de jeux vidéo mais surtout celle qui sont calme.</span>
                <a href="https://music.apple.com/library/playlist/p.zp6KlOvimX95xPX">Playlist Favoris</a>
            </li>
            <li>
                <h2>Les influenceurs suivis</h2>
                <span>Je regarde youtube depuis mes 9 ans,bien que youtube est beaucoup changé depuis...<br>
                    Je n'ai plus trop le temps pour regarder des vidéo avec les étude mais j'en trouve parfois pour regarder ma chaine préférer.</span>
                <a href="https://www.youtube.com/@fantabobgames">Chaine de bob lennon</a>
            </li>
            <li>
                <h2>Dessin</h2>
                <span>J'adore pouvoir dessiner en transmettant
                    ces emotions,même si je trouve que c'est une chose extrement compliqué et qui demande beaucoup de
                    pratique,peut être que j'essayye de faire trop de chose ?<br>
                    Vous trouverez sur le button a droite mes dessin sur le site de DevianArt</span>
                <a href="https://www.deviantart.com/toniportal">Mon Devianart</a>
            </li>

        </ol>
    </div>

    <div class="container comptperso">

        <h3>Compétence personnel</h3>
        <br>
        <h4>JavaScript</h4>
        <div class="skillcontainer">
            <a>
                <div class="skills js">90%</div>
            </a>
        </div>
        <h4>CSS</h4>
        <div class="skillcontainer">
            <a>
                <div class="skills css">70%</div>
            </a>
        </div>
        <h4>HTML</h4>
        <div class="skillcontainer">
            <a>
                <div class="skills html">99%</div>
            </a>
        </div>

        <h4>Node.js</h4>
        <div class="skillcontainer">
            <a>
                <div class="skills nodejs">50%</div>
            </a>
        </div>

    </div>


    </body>

    </html>