<%- include('./partials/head', {title:'Qui suis je ?'}) %>


<div class="flexcenter">
    

      <div class="box pp">
        <h1>Qui suis je ?</h1>
        <img alt="Image de profil" src="../src/img/pp.jpg">
        <h3>PASTRE Toni</h3>
      </div>


   
  </div>

  <div id="container" class="container center">
    <p>
        Fusce elementum est nec risus imperdiet rhoncus. Fusce scelerisque, turpis eget tristique lacinia, nunc lorem pulvinar quam, in laoreet risus nibh non risus. Nullam ac mauris facilisis, viverra magna id, porttitor sapien. Suspendisse sed elementum mauris. Vivamus fermentum semper mauris, sit amet vestibulum lacus venenatis id. Quisque vitae ultricies metus, eget rutrum nulla. Morbi a nisi et ex consequat ultricies.

Ut pretium consectetur aliquet. Donec posuere, lectus at lacinia blandit, nibh ipsum fermentum magna, et bibendum nunc metus nec nisl. Suspendisse posuere risus eget lacus luctus, vitae hendrerit nulla condimentum. Integer pulvinar quam sit amet orci elementum condimentum. Pellentesque in magna neque. Maecenas blandit quis ante vel facilisis. Pellentesque sit amet consectetur neque. Aenean fringilla justo et fermentum condimentum. Pellentesque elementum felis a justo tempus, vitae eleifend nibh molestie. Nam tincidunt, diam vel pretium hendrerit, purus nibh consectetur sem, quis imperdiet dolor libero id tortor. Nullam tempor lectus et venenatis imperdiet. Praesent vitae nibh arcu. Vivamus eleifend, elit quis fringilla porttitor, eros ipsum sagittis ex, in euismod arcu arcu ut tellus. Curabitur mollis bibendum ligula. Integer tempor, elit in faucibus egestas, quam nibh aliquam velit, sed placerat odio elit eget diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Pellentesque varius ipsum lorem, eget mattis sapien imperdiet at. Proin sit amet magna dolor. Suspendisse nec vestibulum nisl. Vestibulum arcu justo, vestibulum at eros et, bibendum lacinia sem. Curabitur id massa nec est faucibus cursus in vel eros. Aliquam eu augue mattis, ornare libero ut, eleifend ex. Nulla placerat elit libero, vel malesuada mi euismod ac. Nulla facilisi.

Quisque ut placerat mi, quis dignissim dui. Curabitur a tortor eget turpis efficitur facilisis. Proin pharetra id ante quis pharetra. In mauris est, lacinia vel aliquet at, aliquam in eros. Suspendisse gravida volutpat nunc nec ultrices. Mauris dictum a erat non elementum. Aliquam at lectus tincidunt, interdum massa in, egestas est. Quisque mollis turpis quam, quis fringilla sapien auctor et. Sed sit amet consectetur dui, vel tristique nisl. Sed efficitur non mi quis mollis.

Suspendisse feugiat ante a magna pharetra, eget mattis enim tincidunt. Aliquam libero mi, ultricies sed viverra nec, ornare at turpis. Ut finibus tortor imperdiet, tincidunt purus sed, consectetur risus. Maecenas varius interdum sodales. Pellentesque convallis in enim sit amet laoreet. Morbi eu porta dolor. Nunc finibus pretium odio, eget aliquet mauris sodales sed. Vivamus egestas sit amet nunc id fringilla. Aenean at sem ac ligula tristique rhoncus quis sed mauris. Aliquam erat volutpat. Sed scelerisque ligula sit amet mi tincidunt tristique. Quisque odio nunc, sollicitudin id finibus sit amet, pretium sed orci. Vivamus sodales efficitur nulla id faucibus. Vestibulum ultrices maximus velit, eget vehicula libero bibendum sed. Praesent et vehicula felis, nec feugiat nibh.
    </p>
  </div>



  </body>

  </html>