<%- include('./partials/head', {title:'Qui suis je ?'}) %>


    <div id="pp" class="flexcenter pp">


        <div class="box">
            <h1>Qui suis je ?</h1>
            <svg viewBox="40 50 250 200" xmlns='http://www.w3.org/2000/svg'>

                <filter id='noise' x='2%' y='0%' width='100%' height='100%'>
                    <feTurbulence baseFrequency="0.02 0.6" result="NOISE" numOctaves="2" />
                    <feDisplacementMap in="SourceGraphic" in2="NOISE" scale="20" xChannelSelector="R"
                        yChannelSelector="R"></feDisplacementMap>
                </filter>
                <!-- 		<rect width='100%' height='100%' filter='url(#challengeNoise)' /> -->
                <image class="image" xlink:href="../src/img/pp.jpg" x="60" y="50" filter="url(#noise)">
                </image>
            
            </svg>
            <!-- <img alt="Image de profil" src="../src/img/pp.jpg"> -->
        </div>

        <div class="flexenbas">
            <div class="container">
<<<<<<< HEAD
                <h1>Mon portrait</h1>
=======
                <h1>Ma présentation :</h1>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
            </div>


            <div class="container center">
                <p>
<<<<<<< HEAD
                    Ce qui me définit :
                    Je suis PASTRE Toni,je suis né à Paris dans le 13ième, je passais 1 weekend sur 2 chez mon
                    père
                    à Carnoux en Provence,j'ai était touché par l'Environnement
                    et le cadre de vie de cette région.
                    J'ai passé mes étés dans le Sud-est avec ma mère 
                    et j'allais également à Paris voir mes grand-parents. Plus grand sur mon temps libre, je
                    m'amusais pendant les vacances sur mon premier project et à jouer à Civilisation I et Minecraft.
                    J'ai visité beaucoup Paris où résident mes grand-parents. J'aime parfois l'animation des grandes villes qui offrent régulièrement des salons intéressants comme la Japan expo.
                    
                    Je préfère malgré tout, la Nature qui me procure un sentiment de bien
                    être. J'aimerai voyager pour découvrir plus de paysages naturels et pourquoi explorer l'Islande qui me tente bien. 
                    
                    J'aime aussi beaucoup le Dessin et l'Art que j'aimerai pratiquer plus souvent pendant mon temps libre
                    Je ne m'aime pas les réseaux sociaux qui appauvrissent la jeune génération et avilissent notre Société.
                    J'adore pendant que je développe mes project être plongé dedans grâce a la musique,tel que des ost.
                    
                    J'aime bien le Sarcasme parce qu'il y a souvent une forme de vérité cachée dans ce genre de remarque.
                    Depuis peu mon père s'est installé à Blois. Je ne connaissais pas le Loir-et-Cher et j'ai découvert une belle région avec un cadre de vie exceptionnel mêlant la Nature et l'Histoire. Je me suis rendu 
                    aux châteaux de la Loire et redécouvert un intérêt pour la petite histoire locale lors de mon dernier stage.
                    Enfin, je lis peu mais quand je lis, j'aime particulièrement les livre dont vous êtes les héros.
                J'affectionne néanmoins l'univers des bande dessinée et des manga/animée.
=======
                    Je suis PASTRE Toni, avec un père étant developpeur qui m'a permit de plus m'amener la dedans
                    J'aime les livre dont vous êtes les héros<br>
                    et aime l'univers des bande dessinée et des manga/animée.
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
                </p>
            </div>
        </div>

    </div>

    <div class="boxiall">

        <div class="box">
            <h1>Origines</h1>
            <ul>
                <li>Né à Paris</li>
                <li>Enfance passée dans le sud-est près d'Avignon.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Famille</h1>
            <ul>
                <li>Issu d'une fratrie Nombreuse et animée.</li>
                <li>Jeux et disputes rythment mon quotidien.</li>
            </ul>
        </div>


        <div class="box">
            <h1>Habitudes</h1>
            <ul>
                <li>Séjours multiples entre Paris et Avignon.</li>
<<<<<<< HEAD
                <li>Découvertes récentes de Blois.</li>
                <li>Visites des régions de France mais pas de sa gastronomie. (╯°□°)╯︵ ┻━┻ </li>
=======
                <li>Découverte récente de Blois.</li>
                <li>Developpement intensif </li>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
            </ul>
        </div>

    </div>


    <div style="display: none;">
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="">Learn more</a> </div>
    </div>

    <div class="container">
        <h1>
            To-do Centre d'intérêts :
        </h1>
        <!-- 3 sorte physique
        Intellectuel
        virtuel(ytb) -->


        <ol class="list">
            <li>
                <h2>Le developpement</h2>
                <span>Je suis tombé dedans a cause d'un cours de technologie en techno lorsque on a du faire un labyrinthe avec scratch,ce que j'ai adorée faire !
                    <br>
                    Vous trouverez mon lien github sur la droite.
                </span>
                <a href="https://github.com/Bouftout">Github</a>
            </li>
            <li>
<<<<<<< HEAD
                <h2>Les Mangas/Animées</h2>
                <span>J'aprécie beaucoup la culture manga animée,et en regarde beaucoup,ayant une liste assez exostive
                    d'animée regarder,vous pourrez voir grâce au button sur la droite ma liste d'animée regarder grâce
=======
                <h2>Les mangas/Animées</h2>
                <span>J'aprécie beaucoup la culture manga animée.<br>
                    Vous pourrez voir grâce au button sur la droite ma liste d'animée regarder grâce
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
                    au site adkami.</span>
                <a href="https://adkami.com/list/tonidu13">Adkami List</a>
            </li>
            <li>
                <h2>Les jeux vidéo</h2>
                <span>J'aime aussi les jeux vidéo, les jeux de stratégie de type starcraft,civilisation.<br>Mon jeux préférer reste nier automata !</span>
                <!-- <a href="#pp">PopUp en dev</a> -->
            </li>
            <li>
<<<<<<< HEAD
                <h2>La Musique</h2>
                <span>La musique permet pour certain de me relaxer et c'est mon cas,bien que parfois ça soit du metal
                    pourtant !<br>La musique est souvent apporté dans les jeux vidéo,les 2 se complete.J'aime bien
                    l'electro et le lofi,bien que peut être vous vous n'interesez pas du tout a mes gout,mais si c'est
                    le cas vous pouvez retrouvez avec le button sur votre droite des playlist de musique.</span>
                <a href="https://music.apple.com/library/playlist/p.zp6KlOvimX95xPX">Favoris Playlist</a>
            </li>
            <li>
                <h2>Visites/Voyages</h2>
                <span>J'aimerais bien voyager comme j'ai dit en dehors de la france,bien que ce soit je trouve vachement
                    complexe de le faire,c'est pour cela que je ne l'ai pas fait,allait en angleterre permettrait par
                    exemple a m'aider sur mon niveau d'anglais,j'aime aussi visiter tranquillement certain lieu comme
                    des chateaux ou des musée,ça me permet de faire
                    autre chose que de rester chez moi.</span>
                <a href="https://exploreloirevalley.com">Explore Loire Valley</a>
            </li>
            <li>
                <h2>Les Influenceurs Suivis</h2>
                <span>Je regarde youtube depuis mes 9 ans,je n'ai pas arrêter de regarder,bien que les choix de la
                    plateforme laisse de plus en plus douter que elle soit bien mais passont,je sais que j'apprécie
                    particulièrement Bob lennon(youtubeur) pour le fait que il soit rester a l'ancienne et ne coupe
                    pratiquement
                    pas ces vidéo car il anime tout le temps,j'ai l'impression d'avoir grandis avec eux alors que ce
                    n'est pas du tout le cas,haha....<br>Bien que le temps ce faire de plus en plus race pour regarder
                    toute ces vidéo vu leur longueur. </span>
=======
                <h2>La musique</h2>
                <span>J'ecoute différent type de musique concentrée dans les musique qui viennent de jeux vidéo mais surtout celle qui sont calme.<br>
                Vous trouverez un button sur la droite comportant ma playlist de mes musique Favoris</span>
                <a href="https://music.apple.com/library/playlist/p.zp6KlOvimX95xPX">Playlist Favoris</a>
            </li>
            <li>
                <h2>Les influenceurs suivis</h2>
                <span>Je regarde youtube depuis mes 9 ans,bien que youtube est beaucoup changé depuis...<br>
                    Je n'ai plus trop le temps pour regarder des vidéo avec les étude mais j'en trouve parfois pour regarder ma chaine préférer.</span>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
                <a href="https://www.youtube.com/@fantabobgames">Chaine de bob lennon</a>
            </li>
            <li>
                <h2>Dessin</h2>
                <span>J'adore pouvoir dessiner en transmettant
                    ces emotions,même si je trouve que c'est une chose extrement compliqué et qui demande beaucoup de
                    pratique,peut être que j'essayye de faire trop de chose ?<br>
<<<<<<< HEAD
                    Bref,vous trouverez sur le button a droite mon lien devianart ou vous pourrez voir les dessin dont
                    je suis fier de certain !</span>
                <a href="https://www.deviantart.com/toniportal">Devianart</a>
            </li>
            <li>
                <h2>Le Développement</h2>
                <span>Début avec le logiciel "scratch 2" en faisant un project de classe de techno,je l'ai continuer chez moi
                    pour faire des pauvre labyrinthe haha,dommage que je ne l'ai pas gardé
                    précieusement,car au premier abord je ne passais pas que ça me plairrait autant plus que ça,alors
                    que je venait sans men rendre compte de passer + de 20 heure a le faire,je me disais cela alors que
                    vu le temps passait ça se voyait clairement
                    mais ce qui a vraiment mit un cloud sur le fait que j'aime est quand j'ai developper mon "bot"
                    discord avec Discord.js
                    Mon petit bébé,que je chérie,particulièrement,bien que je ne sais pas trop quoi faire dessue après
                    autant temps et autant peut de personne l'utulisant.
                    J'adore passer mon temps libre a faire des truc dont personne ne se servira a par moi même,faire des
                    chose
                    inutile,c'est très amusant bien que parfois assez vide,vu que personne ne les utulise.
                </span>
                <a href="https://github.com/Bouftout">Github</a>
=======
                    Vous trouverez sur le button a droite mes dessin sur le site de DevianArt</span>
                <a href="https://www.deviantart.com/toniportal">Mon Devianart</a>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
            </li>

        </ol>
    </div>

    <div class="container comptperso">

<<<<<<< HEAD
        <h3>Compétences personnelles</h3>
        <br>
        <h4>JavaScript</h4>
        <div class="skillcontainer">
            <a href="https://github.com/Bouftout?tab=repositories&q=&type=&language=javascript">
                <div class="skills js">75%</div>
            </a>
        </div>
        <h4>CSS</h4>
        <div class="skillcontainer">
            <a href="https://github.com/Bouftout?tab=repositories&q=&type=&language=javascript">
                <div class="skills css">60%</div>
            </a>
        </div>
        <h4>HTML</h4>
        <div class="skillcontainer">
            <a href="https://github.com/Bouftout?tab=repositories&q=&type=&language=html">
                <div class="skills html">80%</div>
            </a>
        </div>

        <h4>Node.js</h4>
        <div class="skillcontainer">
            <a href="https://github.com/Bouftout?tab=repositories&q=&type=&language=javascript">
                <div class="skills nodejs">35%</div>
            </a>
        </div>

        <h4>PHP</h4>
        <div class="skillcontainer">
            <a href="https://github.com/Bouftout?tab=repositories&q=&type=&language=javascript">
                <div class="skills php">40%</div>
            </a>
=======
        <h3>Compétence personnel</h3>

        <br>
    <div>
        <div class="js">
            <h4>JavaScript</h4>
            <h3>JS</h3>
        </div>

        <div class="nodejs">
            <h4>Node.js</h4>
            <h3>NODEJS</h3>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf
        </div>

        <div class="php">
            <h4>Php</h4>
            <h3>PHP</h3>
        </div>

        <div class="css">
          <h4>CSS</h4>
          <h3>CSS</h3>
        </div>

        <div class="html">
            <h4>HTML</h4>
            <h3>HTML</h3>
        </div>
</div>
        

        


    </div>
<<<<<<< HEAD
    <br>
    <br>
=======

    <%- include('./partials/footer') %>
>>>>>>> 380d3fe08cd66e51a415c0c490ddf15f1089d3cf

    </body>

    </html>