<%- include('./partials/head', {title:'Bienvenue'}) %>


  <div style="display: flex; justify-content: center;left: 29%;width: 800px;" class="box">
    <h1>
      Définition de la veille technologie :
    </h1>
  </div>

  <div id="container" class="container center">
    <p>
      La veille technologique ou veille scientifique et technique consiste à s'informer de façon systématique sur les
      techniques les plus récentes et surtout sur leur mise à disposition commerciale (ce qui constitue la différence
      entre la technique et la technologie).
      <br>
      Cette activité met en œuvre des techniques d'acquisition, de stockage et d'analyse d'informations et leur
      distribution automatique aux différentes sections concernées de l'entreprise, à la manière d'une revue de presse.
      <br>
      Ces informations peuvent concerner une matière première, un produit, un composant, un procédé, l'état de l'art et
      l'évolution de l'environnement scientifique, technique, industriel ou commercial de l'entreprise.
      <br>
      Elle permet aux bureaux d'études d'être informés des baisses possibles de coût ou d'augmentation de qualité dans
      le cadre de l'analyse de la valeur. L'entité de production connaît mieux grâce à elle ses limites de production et
      sa
      concurrence future.
      <br>
      Elle se pratique dans la légalité et le respect de la déontologie.
    </p>


  </div>

  <br>

  <div style="width: 1000px; background-color: rgb(0, 0, 30);" class="container">

    <h1>Mon sujet :<br><br>Systeme d'Exploitation A.R.M</h1>

  </div>

  <br>

  <div style="display: flex; justify-content: center;left: 29%;width: 800px;" class="box">
    <h1>
      Comment j'ai fait ma veille ?
    </h1>
  </div>

  <div class="container">

    <br>
    <h2>Elle comporte 1 outils de curation principale qui est :</h2>
    <br>
    <center>
      <img src="../src/img/google-alerts.png" width="360" height="170">
    </center>
    <br>

    <h2>Explication :</h2>

    <br>

    <p>J'ai configurer google alert pour que tout les jour vérifie si il a des article correspondant a mon
      sujet de veille.<br>Toute les semaine pendant le temps de cette veille technologique,les temps libre que
      j'avais,j'en profite donc pour regardais
      ce que il m'a donnée,je lis les article puis je prend les informations qui sont les plus interessant et les plus
      proche de mon sujet,si je trouve l'article qui correspond bien,je l'ajoute au final l'article avec un petit résumé
      sur mon portfolio.
      <br><br>
      J'ai aussi essayer d'utuliser feedly mais ça ne convenait pas il fallait payer pour y avoir
      accès car j'avais un sujet un peu trop
    </p>

  </div>

  <br>



  <div style="display: flex; justify-content: center;left: 39%; " class="box">
    <h1>Articles :</h1>
  </div>

  <br>
  <div class="container article">

    <div class="date">
      <h2>Date :</h2><time>25 janvier 2023</time>
    </div>

    <div class="namearticle">
      <h2>Article :</h2>

      <div class="btnarticle">
        <br>
        <button
          action="https://www.macg.co/ailleurs/2023/01/mais-ou-est-google-chrome-pour-windows-arm-134377">MACG</button>
        <br>
        <br>
      </div>

    </div>


    <div style="display:flex;justify-content:space-around;align-items: center;margin-bottom: 20px;">
      <img src="https://cdn.mgig.fr/2023/01/mg-de166bfe-w2800-w828-w2600-w1300.jpg" width="640" height="500">
      <img src="https://cdn.mgig.fr/2023/01/mg-acaa114d-w828-w1140.jpg" width="640" height="500">
    </div>

    <h1>Mais où est Google Chrome pour Windows ARM ?</h1>

    <p>
      Google Chrome n'est toujours pas présent pour les ordinateurs fonctionnant sous Windows ARM.
      <br>
      5 ans après le premier PC Windows ARM, Chrome est encore absent en natif.
      <br>
      De nombreux utilisateurs attendent une version de Google Chrome
      adaptée à cette plateforme.
      <br>
      Cependant, même si d'autres navigateurs tels que Microsoft Edge ou Mozilla Firefox ont
      déjà été adaptés pour Windows ARM, Google n'a pas encore publié de version de Chrome pour cette plateforme.
      Les raisons qui sont liées a son retardement,sont :
    </p>
    <ol>
      <li>- Obscures car Edge est bâti sur les même fondation que google chrome et existe sur ARM</li>
      <li>- D'après la raison avancée par le forum XDA-Developers ce serait à cause des DRM(Le point qui bloque serait
        en réalité Widevine)</li>
      <li>le coût et le temps nécessaire pour le développement et la maintenance d'une telle version.</li>
    </ol>
    <p>
      En attendant, les utilisateurs de Windows ARM doivent se contenter d'autres navigateurs ou utiliser une version
      émulée de Chrome, qui est moins performante que la version native.
    </p>

  </div>

  <br>
  <div class="container article">

    <div class="date">
      <h2>Date :</h2><time>17 février 2023</time>
    </div>

    <div class="namearticle">
      <h2>Article :</h2>

      <div class="btnarticle">
        <br>
        <button
          action="https://www.01net.com/actualites/windows-11-peut-desormais-fonctionner-sur-les-mac-equipes-dun-processeur-m1-ou-m2.html">01net</button>
        <button
        action="https://www.frandroid.com/marques/apple/798218_apple-m1-voila-la-premiere-puce-arm-pour-mac-developpee-par-la-marque">frandroid</button>
        <br>
        <br>
      </div>

    </div>


    <div style="display:flex;justify-content:space-around;align-items: center;margin-bottom: 20px;">
      <img src="https://www.01net.com/app/uploads/2023/02/Windows-11-mac-silicon-680x453.jpg" width="640" height="453">
      <img
        src="https://images.frandroid.com/wp-content/uploads/2020/11/apple_silicon_macbook_mac_event_2020-11-10_19-07-34-scaled.jpg"
        width="600" height="337">
    </div>

    <h1>Windows 11 peut désormais fonctionner sur les Mac équipés d’un processeur M1(A.R.M)</h1>

    <p>
      Il est désormais possible d'exécuter Windows 11 sur les Mac équipés d'un processeur ARM, remplaçant ainsi les
      anciens processeurs Intel. Grâce à Parallels Desktop, une solution qui permet d'exécuter Windows dans un
      environnement virtuel, les utilisateurs peuvent accéder à cette fonctionnalité.
    </p>
    <br>
    <p>
      Cependant, contrairement à l'ancienne solution Boot Camp, qui permettait d'exécuter Windows nativement sur les Mac
      Intel, Parallels Desktop présente certaines limitations. Il ne supporte pas DirectX12, la sandbox Windows et les
      applications ARM 32 bits. De plus, cette solution est plus coûteuse.
    </p>
    <p>
      <br>
      Malgré ces limitations et coûts supplémentaires, les utilisateurs de Mac équipés de processeurs M1 peuvent
      désormais profiter de Windows 11 grâce à Parallels Desktop.
    </p>

  </div>

  <br>

  <div class="container article">

    <div class="date">
      <h2>Date :</h2><time>29 mars 2023</time>
    </div>

    <div class="namearticle">
      <h2>Article :</h2>

      <div class="btnarticle">
        <br>
        <button
        action="https://www.bigouden.tv/2023/03/29/le-marche-des-serveurs-bases-sur-arm-devrait-connaitre-une-croissance-impressionnante-dici-2030/"
        >bigouden.tv</button>

        <br>
        <br>

      </div>

      <div style="display:flex;justify-content:space-around;align-items: center;margin-bottom: 20px;">
        <img src="https://www.bigouden.tv/wp-content/uploads/2023/01/5.jpg" width="640">

      </div>

      <h1>Le marché des serveurs basés sur Arm devrait connaître une croissance impressionnante d’ici 2030</h1>

      <p>
        La croissance en 2023 des serveur se bassant sur arm d'ici 2023 devrait augmenté car selon les prévision ;
        <br>
        ce marché devrait connaître une croissance significative au cours de la prochaine décennie,
        <br>
        stimulée par la demande croissante de solutions de calcul haute performance, l'expansion d'internet,des objets
        et la montée en puissance de l'informatique en réseau.
        <br>
        <br>
        Les serveurs basés sur ARM sont considérés comme l'alternative la + économe en énergie mais aussi la plus
        rentable que les serveurs traditionnels basés sur x86/x64,
        ce qui devrait stimuler leur adoption par les entreprises.
        <br>
        <br>
        Les entreprises devrait surveiller de près le marché des serveurs ARM pour profiter de cette croissance pour
        cendre leur produit.
      </p>

    </div>
  </div>


  <%- include('./partials/footer') %>

    </body>

    </html>