.tab {
    overflow: hidden;
    border: 5px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 100px;
    transition: 0.3s;
    font-size: 20px
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    background-color: black;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

h2 h5 h4 {
    color: red;
}

h4 {
    color: red;
}

p {
    color: red;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: rgb(46, 45, 45);
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 5px solid rgb(5, 189, 36);
    box-shadow: 0 5px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 5px solid rgb(255, 0, 0);
    box-shadow: 0 5px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: rgb(22, 18, 18);
  }

  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 60%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 90%; background-color: #f44336;} /* Red */
.php {width: 50%; background-color: #808080;} /* Dark Grey */