<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./head'); %>
</head>

<body>
    <header>
        <%- include('./header'); %>
    </header>

    <h1 class="">Voici mes experience de stage actuelle :</h1>
    <div class="row">
        <!--carddispo+=copie-->
        <div class="col s12 m6">
            <div class="card teal darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><em>Cyber Tel</em> du 01/06/22 Au 29/06/22</span>
                    <span>Entreprise de Magasin de téléphonie mobile ; j'ai donc effectuée mon stage au côté de mon tuteur étant aussi le patron<br>Le cadre de travail n'était point stricte et ayant aucun project,assez sobre toute fois vu comme l'entreprise est petite, les technologie utilisée était donc "ADB","Bluetooth","Imprimante"<br>J'ai donc réalisée un travail auquel j'était très proche des client,dont réparer leur pc,leur portable mais pas que physiquement,Certain par exemple oublie leur mot de passe google + leur shéma ou mot de passe il font donc trouvée des techinque pour les contourner,ou utuliser des logiciel tier si possible.Allez dépaner directement le problème chez les client était aussi possible<br>J'ai appris que les gens on toujours de plus en plus besoin de petite entreprise comme ceci qui répare rapidement et facilement, ce qui m'a deplu et que c'est un travail qui se joue uniquement sur le fait que les Téléphone ou pc auront un problème il arrive donc certain moment auquel il n'y a aucun client...</span>
                </div>
            </div>
        </div>

    </div>

    <%- include('./footer'); %>


</body>

</html>