/* Slide card */

.slide-container {
  max-width: 1820px;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  /* background-color: #FFF; */
  box-shadow: -1rem 0 3rem rgb(25, 25, 25);
  transition: 0.4s ease-out;
  height: 500px;
  max-width: 320px;
  background-color: #17141d;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}



.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #17141d;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(219, 219, 219);
}

.description {
  font-size: 14px;
  color: rgb(219, 219, 219);
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  bottom: 0%;
  position: absolute;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
      margin: 0 10px;
  }

  .swiper-navBtn {
      display: none;
  }
}

/* .card:not(:first-child) {
  margin-left: -10px;
} */

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card-content>h5 {
  position: relative;
  bottom: 15px;
  margin-left: 255px;
  color: white;
  font-size: 10px;
}

.card-content ul {
  position: absolute;
  margin-top: 5px;
  left: 10%;
  top: 55%;
  font-size: 14px;
  color: rgb(219, 219, 219);
  text-align: left;
}

.card-content ul>li {
  margin-bottom: 5px;
}

.stagedate {
  margin: 50px;
  text-align: right;
}